##변수

In [ ]:
x=10
y=3.14
c=2+3j
s='Socrates Express'
b=True
print(x,y,s,c,'x*y= ',x*y)
print(type(x),type(y))
print(type(s),type(c))
print(type(b))

hungry=True
sleep=False
print(hungry,sleep)
hs_and=hungry and sleep
s_not=not sleep
print(hs_and,s_not)

10 3.14 Socrates Express (2+3j) x*y=  31.400000000000002
<class 'int'> <class 'float'>
<class 'str'> <class 'complex'>
<class 'bool'>
True False
False True

## 출력하기

In [ ]:
x=10
pi=3.141592624
e=2.7182818282

print(x,pi,e)
print("x={0}, pi={1}, e={2}".format(x,pi,e))
print("x={0}, pi ={1: .2f}, e={2: .4f}".format(x,pi,e))
print(x,pi,end=' ')
print(e)

10 3.141592624 2.7182818282
x=10, pi=3.141592624, e=2.7182818282
x=10, pi = 3.14, e= 2.7183
10 3.141592624 2.7182818282

## Keyboard 입력받기

In [ ]:
a=input()
print(a,type(a))
b=int(input())
print(b,type(b))

asdf
asdf <class 'str'>
3
3 <class 'int'>

## List

In [ ]:
a=[1,2,"Plato",3.14,"Last"]
print(a)
a[1]=2.718
print(a)
print(a[1:3])
print(a[2:])
print(a[:-2])

[1, 2, 'Plato', 3.14, 'Last']
[1, 2.718, 'Plato', 3.14, 'Last']
[2.718, 'Plato']
['Plato', 3.14, 'Last']
[1, 2.718, 'Plato']

In [ ]:
a=[1,2,3]
b=[4,5,6]
print(len(a))
c=a+b
d=3*a
print(c)
print(d)
print(max(a))
print(min(a))

3
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3
1

In [ ]:
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [ ]:
a.extend([4,5,6])
a

[1, 2, 3, 4, 4, 5, 6]

In [ ]:
a=[2,4,5]
a.insert(0,1)
a
a.insert(2,3)
a

[1, 2, 3, 4, 5]

In [ ]:
a=['B','A','C','D']
a.remove('B')
a

['A', 'C', 'D']

In [ ]:
a=[1,2,3,4,5]
a.pop()
a
a.pop()
a
a.pop(2)
a

[1, 2]

In [ ]:
a=['abc','def','ghi']
a.index('def')

1

In [ ]:
a=[1,100,2,100,3,100]
a.count(100)

3

In [ ]:
a=[3,4,5,1,2]
a.sort()
a
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]

In [ ]:
a=[3,4,5,1,2]
a.reverse()
a

[2, 1, 5, 4, 3]

In [ ]:
b=['안','녕,','하','세','요']
b.reverse()
b

['요', '세', '하', '녕,', '안']

In [ ]:
a=[2,4,5,9,8]
b=[1,2,3,4,5]
a[1]=10
print(a)
a.reverse()
print(a)
c=a+b
print(b)

[2, 10, 5, 9, 8]
[8, 9, 5, 10, 2]
[1, 2, 3, 4, 5]

## 튜플

In [ ]:
a=(1,2,"hello",4)
b=3,4
print(len(b))
print(type(b))
print(a[1:3])
print(a+b)

2
<class 'tuple'>
(2, 'hello')
(1, 2, 'hello', 4, 3, 4)

In [ ]:
a=1,2,3
print(a)

one,two,three=a
print(one,two,three)
print(type(one))

city,latitude,longitude='Seoul',37.541,126.986
print(city,latitude,longitude)

(1, 2, 3)
1 2 3
<class 'int'>
Seoul 37.541 126.986

## Dictionary

In [ ]:
man={'height':175,'weight':60}
print(man['height'],man['weight'])
man['height']=180
print(man)

175 60
{'height': 180, 'weight': 60}

In [ ]:
dic={'one':0,'two':2}
dic['one']=1
print(dic)

dic['three']=3
print(dic)

del(dic['one'])
print(dic)

dic1={1:10,2:20}
dic2={1:100,3:300}
print(dic1[1])

dic1.update(dic2)
print(dic1)

{'one': 1, 'two': 2}
{'one': 1, 'two': 2, 'three': 3}
{'two': 2, 'three': 3}
10
{1: 100, 2: 20, 3: 300}

In [ ]:
dic={'애플':'www.apple.com','파이썬':'www.python.org','마이크로소프트':'www.microsoft.com'}
print(dic.keys())
print(dic.values())
print(dic.items())
print('애플' in dic.keys())
print('사과' in dic.keys())
print('www.microsoft.com' in dic.values())
print('www.dictionary.com' in dic.values())

dic.pop('애플')
print(dic)
dic.clear()
print(dic)

dict_keys(['애플', '파이썬', '마이크로소프트'])
dict_values(['www.apple.com', 'www.python.org', 'www.microsoft.com'])
dict_items([('애플', 'www.apple.com'), ('파이썬', 'www.python.org'), ('마이크로소프트', 'www.microsoft.com')])
True
False
True
False
{'파이썬': 'www.python.org', '마이크로소프트': 'www.microsoft.com'}
{}

In [ ]:
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [ ]:
a=[1,2,3,4,5]
a.pop(2)
a

[1, 2, 4, 5]

In [ ]:
dic={}
dic['사과']='apple'
dic['배']='pear'
print(dic)
dic1={'사과':'apple','배':'pear'}
print(dic1)

{'사과': 'apple', '배': 'pear'}
{'사과': 'apple', '배': 'pear'}

In [ ]:
a=not True #false
b=not False #true
print(a,b)

a=not 0 #true
b=not -1 #false
print(a,b)

a=3>2 #true
b=2>3 #false
print(a,b)

False True
True False
True False

In [ ]:
a=not 'ABC' #false
b=not '' #true
print(a,b)

tuple1=not(1,2,3) #false
tuple2=not() #true
list=not [] #true
dict=not {} #true

print(tuple1,tuple2,list,dict)

False True
False True True True

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)
print()
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
False
False
False

True
True
True
False

In [ ]:
print(bool(123)) #true
print(bool(())) #false
print(bool([])) #false
print(bool((1,2,3))) #true
print(bool({()})) #true

True
False
False
True
True

## IF 조건문

In [ ]:
print("Input a number: ")
a=int(input())
if a==0:
  print("0으로 나눌 수 없음")
else:
  print("10/",a,"=",10/a)

Input a number:
3
10/ 3 = 3.3333333333333335

In [ ]:
print('수를 입력하세요: ')
a=int(input())

if a==0:
  print('0으로 나눌 수 없음')
elif a%2==0:
  print(a,"는 2의 배수")
elif a<10:
  print(a,"는 10보다 작은 숫자")
else:
  print(a,"는 2의 배수가 아닌 10이상인 수")

수를 입력하세요:
3
3 는 10보다 작은 숫자

In [ ]:
a=int(input())
b=int(input())
c=int(input())
min,max,mid=0,0,0

if a<b and b<c:
  min=a
  max=c
  mid=b
elif a<b and c<b:
  min=a
  max=b
  mid=c
elif b<c and a<c:
  min=b
  max=c
  mid=a
elif b<c and c<a:
  min=b
  max=a
  mid=c
elif c<a and a<b:
  min=c
  max=b
  mid=a
else:
  min=c
  max=a
  mid=b

print(min,mid,max)

3
2
1
1 2 3

## 반복문

In [ ]:
for a in [3,2,11.3]:
  print(a,end=" ")

for a in (1,'hello',11.3):
  print(a,end=" ")

dic={'1st':10,'2nd':20,'3rd':30}
for k,v in dic.items():
  print("{0}: {1}".format(k,v))

for b in range(0,10,2):
  print(b,end=" ")

3 2 11.3 1 hello 11.3 1st: 10
2nd: 20
3rd: 30
0 2 4 6 8

In [ ]:
limit=int(input())
count=0
while count<limit:
  count=count+1
  print('{0}회 반복.'.format(count))

print('종료')

5
1회 반복.
2회 반복.
3회 반복.
4회 반복.
5회 반복.
종료

In [ ]:
count=0
sum=0
while count<100:
  count+=1
  sum+=count

print(sum)

5050

In [ ]:
count=0
sum=0
while count<10:
  if count%2==0:
    sum+=count
  count+=1

print(sum)

6

In [ ]:
count=0
sum=0
cnt=0
while count<10:
  if count%2==1:
    sum+=count
    cnt+=1
  count+=1

print(sum/cnt)

5.0

In [ ]:
a=0
if a:
  print("1")
else:
  print("2")

2

In [ ]:
count=0
for i in range(7):
  if i==4:
      continue
  for j in range(i):
    print("*",end='')
  print("\n")

*

**

***

*****

******

In [ ]:
score_legend=['Name','Math','ENG','History']
score={'John':[70,80,90],'Tom':[90,95,98],'Mary':[95,85,99]}
print(score_legend)
for k,v in score.items():
  print(k,v)

['Name', 'Math', 'ENG', 'History']
John [70, 80, 90]
Tom [90, 95, 98]
Mary [95, 85, 99]

## 함수

In [ ]:
def absolute_value(value):
  if(value<0):
    abs_value=value*-1
  else:
    abs_value=value
  return abs_value

a=-2
b=10
print("abs a=",absolute_value(a))
print("abs{0}={1}".format(b,absolute_value(b)))

a=-11.2
print("abs{0}={1}".format(a,absolute_value(a)))

abs a= 2
abs10=10
abs-11.2=11.2

In [ ]:
def merge_string(*text_list):
  print(type(text_list))
  result=''
  for s in text_list:
    result=result+s
  return result

sentence1=merge_string('Father ','enters ','room.')
print(sentence1)
sentence2=merge_string('Father ','sleeps')
print(sentence2)

<class 'tuple'>
Father enters room.
<class 'tuple'>
Father sleeps

In [ ]:
def merge_list_string(text_list):
  print(type(text_list))
  result=''
  for s in text_list:
    result=result+s
  return result

sentence3=merge_list_string(['Father ','sleeps'])
print(sentence3)

<class 'list'>
Father sleeps

In [ ]:
def print_team(**players):
  print(type(players))
  for k in players.keys():
    print('{0}={1}'.format(k,players[k]))

print_team(카시야스='GK',호날두='FW',알론소='MF')

<class 'dict'>
카시야스=GK
호날두=FW
알론소=MF

In [ ]:
def print_something(a):
  print(a)

func_variable=print_something
func_variable(123)
func_variable('abc')

def plus(a,b):
  return a+b
def minus(a,b):
  return a-b

func_list=[plus,minus]
print(func_list [0](1,2))
print(func_list [1](1,2))

123
abc
3
-1

In [ ]:
def print_personnel(name,position='staff',nationality='KOR'):
  print('name=',name)
  print('position=',position)
  print('nationality=',nationality,"\n")

print_personnel(name="Park SH")

name= Park SH
position= staff
nationality= KOR

In [ ]:
def average(*value_tuple):
  mean=0
  for v in value_tuple:
    mean+=v
  mean/=len(value_tuple)
  return mean

print(average(1,2,3))
print(average(1,2,3,4,5))

2.0
3.0

## 클래스

In [ ]:
class Rectangle:
  count=0
  def __init__(self,width,height):
    self.width=width
    self.height=height
    Rectangle.count+=1
  def calcArea(self):
    area=self.width*self.height
    return area
  def __call__(self):
    print("폭:{0}, 높이: {1}, 면적: {2}".format(self.width,self.height,self.calcArea()))
  #정적 메서드
  @staticmethod
  def isSquare(rectWidth,rectHeight):
    return rectWidth==rectHeight
  # 클래스 메서드
  @classmethod
  def printCount(cls):
    print("\t 생성된 instance 개수=",cls.count)

  #객체 (instance), rect1 생성
rect1=Rectangle(5,5)
print("instance 멤버변수 접근 width=",rect1.width)
print("instance 멤버함수 접근 calcArea=",rect1.calcArea())

  # 정적 method에 접근함
  # instance를 생성하지 않고 실행됨
print("static 멤버 함수 접근 isSquare()=",Rectangle.isSquare(5,5))
rect2=Rectangle(2,5)
rect2.printCount()
rect2() #__call()__ 함수 호출

instance 멤버변수 접근 width= 5
instance 멤버함수 접근 calcArea= 25
static 멤버 함수 접근 isSquare()= True
	 생성된 instance 개수= 2
폭:2, 높이: 5, 면적: 10

## 상속

In [ ]:
class Base:
  def base_method(self):
    print("Base")
class Derived(Base):
  def derived_method(self):
    print("Derived")

base=Base()
print("1: ",end=" ")
base.base_method()

derived=Derived()
print("2: ",end=" ")
derived.derived_method()
print("3: ",end=" ")
derived.base_method()

1:  Base
2:  Derived
3:  Base