##변수

In [1]:
x=10  #int 변수 x의 초기화
y=3.14  #float 변수 y의 초기화
c=2+3j #복소수
s='Socrates Express'
b=True
print("1: ",x,y,s,c,'x*y= ',x*y,'\n')
print("2: ", "type(x)=", type(x),"type(y)=", type(y))
print("3: ", "type(s)=", type(s),"type(c)=", type(c))
print("4: ", "type(b)=", type(b),'\n')

hungry=True
sleep=False
print("5: ", 'hungry=',hungry,', sleep=', sleep)
hs_and=hungry and sleep
s_not=not sleep
print("6: ", 'hs_and= ', hs_and,', s_not=' , s_not)

1:  10 3.14 Socrates Express (2+3j) x*y=  31.400000000000002

2:  type(x)= <class 'int'> type(y)= <class 'float'>
3:  type(s)= <class 'str'> type(c)= <class 'complex'>
4:  type(b)= <class 'bool'>

5:  hungry= True , sleep= False
6:  hs_and=  False , s_not= True

## 출력하기

In [2]:
x=10
pi=3.141592624
e=2.7182818282

print("1:", x,pi,e)
print("2: x={0}, pi={1}, e={2}".format(x,pi,e))
print("3: x={0}, pi ={1: .2f}, e={2: .4f}".format(x,pi,e))
print("4: ",x,pi,end=' ')
print(" e=" , e)

1: 10 3.141592624 2.7182818282
2: x=10, pi=3.141592624, e=2.7182818282
3: x=10, pi = 3.14, e= 2.7183
4:  10 3.141592624  e= 2.7182818282

## Keyboard 입력받기

In [ ]:
a=input()
print("1: a=",a,"type(a=",type(a))
b=int(input())
print("2: b=",b,"type(b)=",type(b))

asdf
asdf <class 'str'>
3
3 <class 'int'>

## List

In [3]:
a=[1,2,"Plato",3.14,"Last"]
print("1: a=",a)
a[1]=2.718
print("2: a=",a)
print("3: a[1:3]=",a[1:3])
print("4: a[2:]=",a[2:])
print("5: a[:,-2]=",a[:-2])

1: a= [1, 2, 'Plato', 3.14, 'Last']
2: a= [1, 2.718, 'Plato', 3.14, 'Last']
3: a[1:3]= [2.718, 'Plato']
4: a[2:]= ['Plato', 3.14, 'Last']
5: a[:,-2]= [1, 2.718, 'Plato']

In [ ]:
a=[1,2,3]
b=[4,5,6]
print("1: Length of list a=", len(a))
c=a+b
d=3*a
print("2: a+b=",c)
print("3: 3*a=",d)
print("4: max(a)=",max(a))
print("5: min(a)=",min(a))

3
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3
1

In [ ]:
a=[1,2,3]
a.append(4) #리스트의 끝에 새 요소를 추가
a

[1, 2, 3, 4]

In [4]:
a=[1,2,3]
a.extend([4,5,6]) #기존 리스트에 다른 리스트를 이어 붙인다. +연산자와 같은 기능
a

[1, 2, 3, 4, 5, 6]

In [ ]:
a=[2,4,5]
a.insert(0,1) #첨자로 명시한 리스트 내의 위치에 새 요소를 삽입
a
a.insert(2,3)
a

[1, 2, 3, 4, 5]

In [5]:
a=['BMW','BENZ','VOLKSWAGEN','AUDI']
a.remove('BMW') #매개 변수로 입력한 데이터를 리스트에서 찾아 발견한 첫 번재 요소를 제거
a

['BENZ', 'VOLKSWAGEN', 'AUDI']

In [7]:
a=[1,2,3,4,5]
a.pop() #리스트의 마지막 요소를 뽑아내 리스트에서 제거
a
a.pop()
a
a=[1,2,3,4,5]
a.pop(2)
a

[1, 2, 4, 5]

In [ ]:
a=['abc','def','ghi']
a.index('def') #리스트 내에서 매개변수로 입력한 데이터와 일치하는 첫번째 요소의 첨자를 알려줌

1

In [8]:
a=[1,100,2,100,3,100] #매개 변수로 입력한 데이터와 일치하는 요소가 몇 개 존재하는지 센다
a.count(100)
a.count(200)

0

In [ ]:
a=[3,4,5,1,2]
a.sort() #리스트 내의 요소를 정렬
a
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]

In [9]:
a=[3,4,5,1,2]
a.reverse() #리스트 내 요소의 순서를 반대로 뒤집는다
a
b=['안','녕','하','세','요']
b.reverse()
b

['요', '세', '하', '녕', '안']

In [ ]:
b=['안','녕,','하','세','요']
b.reverse()
b

['요', '세', '하', '녕,', '안']

### 연습문제(리스트)
주어진 리스트에 대해 다음 프로그램을 작성하라.
a=[2,4,5,9,8]
b=[1,2,3,4,5]

(1) List a의 2번째 항목을 10으로 변경후 출력하기

(2) List a를 내림차순으로 정렬하고 출력하기

(3) 두 개 리스트(a와 b)를 결합해서 리스트 c에 넣고 출력하기

In [13]:
a=[2,4,5,9,8]
b=[1,2,3,4,5]
a[2]=10
print(a)
a.sort(reverse=True)
print(a)
c=a+b
print(c)

[2, 4, 10, 9, 8]
[10, 9, 8, 4, 2]
[10, 9, 8, 4, 2, 1, 2, 3, 4, 5]

## 튜플

In [14]:
a=(1,2,"hello",4) #tuple 초기화 방법1
b=3,4 # tuple 초기화 방법2
print("1: 길이 len(b)=",len(b))
print("2: type type(b)=",type(b))
print("3: Tuple slicing a[1:3]=",a[1:3])
print("4: Tuple 합치기: a+b=",a+b)

1: 길이 len(b)= 2
2: type type(b)= <class 'tuple'>
3: Tuple slicing a[1:3]= (2, 'hello')
4: Tuple 합치기: a+b= (1, 2, 'hello', 4, 3, 4)

In [ ]:
a=1,2,3 #packing 여러 데이터를 튜플로 묶음
print("a=",a)

one,two,three=a #unpacking
print("one, two, three=",one,two,three)
print("data type of one=",type(one))

city,latitude,longitude='Seoul',37.541,126.986
print(city,latitude,longitude)

(1, 2, 3)
1 2 3
<class 'int'>
Seoul 37.541 126.986

## Dictionary

In [15]:
man={'height':175,'weight':60}
print('man[\'height\']=',man['height'],'man[\weight\']=',man['weight'])
man['height']=180
print(man)

man['height']= 175 man[\weight']= 60
{'height': 180, 'weight': 60}

In [16]:
dic={'one':0,'two':2}
dic['one']=1 # 값 수정하기
print("1: 값 수정하기 ",dic)

dic['three']=3 # 항목 추가하기
print("2: 항목 추가하기", dic)

del(dic['one']) #항목 삭제하기
print("3: 항목삭제하기", dic)

dic1={1:10,2:20}
dic2={1:100,3:300}
print("4: 숫자 key 접근 dic1[1]=",dic1[1]) # 숫자로 된 key에 접근하기

dic1.update(dic2)
print("5: dic들 결합하기", dic1)

1: 값 수정하기  {'one': 1, 'two': 2}
2: 항목 추가하기 {'one': 1, 'two': 2, 'three': 3}
3: 항목삭제하기 {'two': 2, 'three': 3}
4: 숫자 key 접근 dic1[1]= 10
5: dic들 결합하기 {1: 100, 2: 20, 3: 300}

In [17]:
dic={'애플':'www.apple.com','파이썬':'www.python.org','마이크로소프트':'www.microsoft.com'}
print(dic.keys()) #key들을 출력
print(dic.values()) #value들을 출력
print(dic.items()) #key-value 쌍들을 출력
print('애플' in dic.keys()) #key 내에 존재여부를 확인
print('사과' in dic.keys()) #key내에 존재여부를 확인
print('www.microsoft.com' in dic.values()) #value 내에 존재 여부를 확인
print('www.dictionary.com' in dic.values()) #value 내에 존재여부를 확인

dic.pop('애플') #애플이 key인 key-value쌍을 제거하기
print(dic) 
dic.clear() #모든 key-value 쌍을 제거하기
print(dic)

dict_keys(['애플', '파이썬', '마이크로소프트'])
dict_values(['www.apple.com', 'www.python.org', 'www.microsoft.com'])
dict_items([('애플', 'www.apple.com'), ('파이썬', 'www.python.org'), ('마이크로소프트', 'www.microsoft.com')])
True
False
True
False
{'파이썬': 'www.python.org', '마이크로소프트': 'www.microsoft.com'}
{}

In [ ]:
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [ ]:
a=[1,2,3,4,5]
a.pop(2)
a

[1, 2, 4, 5]

In [ ]:
# dic 객체를 정의하는 코드 2가지 방법으로 작성하기
dic={}
dic['사과']='apple'
dic['배']='pear'
print(dic)
dic1={'사과':'apple','배':'pear'}
print(dic1)

{'사과': 'apple', '배': 'pear'}
{'사과': 'apple', '배': 'pear'}

In [ ]:
a=not True #false
b=not False #true
print(a,b)

a=not 0 #true
b=not -1 #false
print(a,b)

a=3>2 #true
b=2>3 #false
print(a,b)

False True
True False
True False

In [ ]:
a=not 'ABC' #false
b=not '' #true
print(a,b)

tuple1=not(1,2,3) #false
tuple2=not() #true
list=not [] #true
dict=not {} #true

print(tuple1,tuple2,list,dict)

False True
False True True True

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)
print()
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
False
False
False

True
True
True
False

In [ ]:
print(bool(123)) #true
print(bool(())) #false
print(bool([])) #false
print(bool((1,2,3))) #true
print(bool({()})) #true

True
False
False
True
True

## IF 조건문

In [ ]:
print("Input a number: ")
a=int(input())
if a==0:
  print("0으로 나눌 수 없음")
else:
  print("10/",a,"=",10/a)

Input a number:
3
10/ 3 = 3.3333333333333335

In [ ]:
print('수를 입력하세요: ')
a=int(input())

if a==0:
  print('0으로 나눌 수 없음')
elif a%2==0:
  print(a,"는 2의 배수")
elif a<10:
  print(a,"는 10보다 작은 숫자")
else:
  print(a,"는 2의 배수가 아닌 10이상인 수")

수를 입력하세요:
3
3 는 10보다 작은 숫자

3개의 숫자를 입력 받아서, if 조건문을 이용해서 최대, 최소, 중간값을 찾아라

In [ ]:
a=int(input())
b=int(input())
c=int(input())
min,max,mid=0,0,0

if a<b and b<c:
  min=a
  max=c
  mid=b
elif a<b and c<b:
  min=a
  max=b
  mid=c
elif b<c and a<c:
  min=b
  max=c
  mid=a
elif b<c and c<a:
  min=b
  max=a
  mid=c
elif c<a and a<b:
  min=c
  max=b
  mid=a
else:
  min=c
  max=a
  mid=b

print(min,mid,max)

3
2
1
1 2 3

## 반복문

In [19]:
print("1: for with list", end=" ")
for a in [3,2,11.3]:
  print(a,end=" ")

print("\n2: for with tuple", end=" ")
for a in (1,'hello',11.3):
  print(a,end=" ")

print("\n3: for with dictionary")
dic={'1st':10,'2nd':20,'3rd':30}
for k,v in dic.items():
  print("\t{0}: {1}".format(k,v))

print("4: for with range",end=" ")
for b in range(0,10,2): #start, end, step
  print(b,end=" ")

1: for with list 3 2 11.3
2: for with tuple 1 hello 11.3
3: for with dictionary
	1st: 10
	2nd: 20
	3rd: 30
4: for with range 0 2 4 6 8

In [20]:
print("몇 번 반복할까요?")
limit=int(input())
count=0
while count<limit:
  count=count+1
  print('{0}회 반복.'.format(count))

print('반복이 종료되었습니다.')

몇 번 반복할까요?
3
1회 반복.
2회 반복.
3회 반복.
반복이 종료되었습니다.

1~100까지 더하기

In [ ]:
count=0
sum=0
while count<100:
  count+=1
  sum+=count

print(sum)

5050

1~100사이의 짝수 더하기

In [ ]:
count=0
sum=0
while count<10:
  if count%2==0:
    sum+=count
  count+=1

print(sum)

6

1~100사이의 홀수 평균 구하기

In [25]:
count=0
sum=0
cnt=0
while count<15:
  if count%2==1:
    sum+=count
    cnt+=1
  count+=1

print(sum/cnt)

7.0

In [ ]:
a=0
if a:
  print("1")
else:
  print("2")

2

In [ ]:
count=0
for i in range(7):
  if i==4:
      continue
  for j in range(i):
    print("*",end='')
  print("\n")

*

**

***

*****

******

In [ ]:
score_legend=['Name','Math','ENG','History']
score={'John':[70,80,90],'Tom':[90,95,98],'Mary':[95,85,99]}
print(score_legend)
for k,v in score.items():
  print(k,v)

['Name', 'Math', 'ENG', 'History']
John [70, 80, 90]
Tom [90, 95, 98]
Mary [95, 85, 99]

In [ ]:
score_legend=['Name','Math','ENG','History','Total','Mean']
score={'John':[70,80,90],'Tom':[90,95,98],'Mary':[95,85,99]}
print(score_legend)

for k,v in score.items():
  s_sum=0
  s_ave=0
  for i in range(len(v)):
    s_sum=s_sum+v[i]
  s_ave=s_sum/len(v)
  score[k].append(s_sum)
  score[k].append(s_ave)

for k,v in score.items():
  print(k,v)

['Name', 'Math', 'ENG', 'History', 'Total', 'Mean']
John [70, 80, 90, 240, 80.0]
Tom [90, 95, 98, 283, 94.33333333333333]
Mary [95, 85, 99, 279, 93.0]

## 함수

In [ ]:
# function: absolute value
def absolute_value(value):
  if(value<0):
    abs_value=value*-1
  else:
    abs_value=value
  return abs_value

a=-2
b=10
print("abs a=",absolute_value(a))
print("abs{0}={1}".format(b,absolute_value(b)))

a=-11.2
print("abs{0}={1}".format(a,absolute_value(a)))

abs a= 2
abs10=10
abs-11.2=11.2

In [27]:
# 여러 개의 변수들을 하나의 tuple로 받음
# 변수의 개수는 가변적임
def merge_string(*text_list):
  print("\targument type=",type(text_list))
  result=''
  for s in text_list:
    result=result+s
  return result

sentence1=merge_string('Father ','enters ','room.')
print(sentence1)
sentence2=merge_string('Father ','sleeps')
print(sentence2)

	argument type= <class 'tuple'>
Father enters room.
	argument type= <class 'tuple'>
Father sleeps

In [28]:
def merge_list_string(text_list):
  print("\targment type=",type(text_list))
  result=''
  for s in text_list:
    result=result+s
  return result

sentence3=merge_list_string(['Father ','sleeps'])
print(sentence3)

	argment type= <class 'list'>
Father sleeps

In [29]:
# dictionary argument
def print_team(**players):
  print("\targment type=",type(players))
  for k in players.keys():
    print('{0}={1}'.format(k,players[k]))

print_team(카시야스='GK',호날두='FW',알론소='MF')

	argment type= <class 'dict'>
카시야스=GK
호날두=FW
알론소=MF

In [ ]:
# 함수를 변수에 담아서 사용하기
def print_something(a):
  print(a)

func_variable=print_something
func_variable(123)
func_variable('abc')

def plus(a,b):
  return a+b
def minus(a,b):
  return a-b

func_list=[plus,minus]
print(func_list [0](1,2))
print(func_list [1](1,2))

123
abc
3
-1

In [ ]:
def print_personnel(name,position='staff',nationality='KOR'):
  print('name=',name)
  print('position=',position)
  print('nationality=',nationality,"\n")

print_personnel(name="Park SH")

name= Park SH
position= staff
nationality= KOR

가변 매개 변수를 이용해서 입력 받은 평균을 구하는 average()함수

In [ ]:
def average(*value_tuple):
  mean=0
  for v in value_tuple:
    mean+=v
  mean/=len(value_tuple)
  return mean

print(average(1,2,3))
print(average(1,2,3,4,5))

2.0
3.0

## 클래스

In [30]:
class Rectangle:
  count=0 # class 변수
  #구성자(constructor), 초기화에 사용함
  def __init__(self,width,height):
    self.width=width #instance 변수
    self.height=height #instacne 변수
    Rectangle.count+=1 #class 변수에 접근
  def calcArea(self): #instance함수
    area=self.width*self.height
    return area
  def __call__(self):
    print("폭:{0}, 높이: {1}, 면적: {2}".format(self.width,self.height,self.calcArea()))
  #정적 메서드
  @staticmethod
  def isSquare(rectWidth,rectHeight):
    return rectWidth==rectHeight
  # 클래스 메서드
  @classmethod
  def printCount(cls):
    print("\t 생성된 instance 개수=",cls.count)

  #객체 (instance), rect1 생성
rect1=Rectangle(5,5)
print("instance 멤버변수 접근 width=",rect1.width)
print("instance 멤버함수 접근 calcArea=",rect1.calcArea())

  # 정적 method에 접근함
  # instance를 생성하지 않고 실행됨
print("static 멤버 함수 접근 isSquare()=",Rectangle.isSquare(5,5))
rect2=Rectangle(2,5)
print("class 멤버함수 접근 printCount()")
rect2.printCount()
rect2() #__call()__ 함수 호출

instance 멤버변수 접근 width= 5
instance 멤버함수 접근 calcArea= 25
static 멤버 함수 접근 isSquare()= True
class 멤버함수 접근 printCount()
	 생성된 instance 개수= 2
폭:2, 높이: 5, 면적: 10

## 상속

In [ ]:
class Base:
  def base_method(self):
    print("Base")
class Derived(Base):
  def derived_method(self):
    print("Derived")

base=Base()
print("1: ",end=" ")
base.base_method()

derived=Derived()
print("2: ",end=" ")
derived.derived_method()
print("3: ",end=" ")
derived.base_method()

1:  Base
2:  Derived
3:  Base

### Super()와 오버라이딩

In [ ]:
class Parents:
  def p_method(self):
    print("parents")
  def speak(self):
    print("Hello Parents")

class Child(Parents):
  def c_method(self):
    print("child")
  def speak(self):
    print("Hello Child")
  def speak2(self):
    super().speak()

p=Parents()
c=Child()

print("1: ",end='');p.p_method()
print("2: ",end='');p.speak()
print("3: ",end='');c.c_method()
print("4: ",end='');c.speak()
print("5(super): ",end='');c.speak2()

1: parents
2: Hello Parents
3: child
4: Hello Child
5(super): Hello Parents

In [ ]:
class CAIGrade:
  def __init__(self,name,homework,quiz,exam):
    self.__name=name
    self.__homework=homework
    self.__quiz=quiz
    self.__exam=exam

  def __call__(self):
    print("{0}, {1}, {2}, {3}, {4} ".format(self.__name,self.__homework,self.__quiz,self.__exam,self.__ComputeScore()))
  
  def __ComputeScore(self):
    Score=0.2*self.__homework+0.2*self.__quiz+0.6*self.__exam
    return Score
  
  def setScore(self,homework,quiz,exam):
    self.__homework=homework
    self.__quiz=quiz
    self.__exam=exam
  
CAI1=CAIGrade("Plato K",100,60,60)
CAI1()
CAI1.setScore(100,60,80)
CAI1()

Plato K, 100, 60, 60, 68.0
Plato K, 100, 60, 80, 80.0

### 모듈

In [ ]:
#calculator.py
def plus(a,b):
  return a+b
def minus(a,b):
  return a-b
def multiplt(a,b):
  return a*b
def divide(a,b):
  return a/b

In [ ]:
import calculator
from calculator import plus
import calculator as cal

print("1: ",calculator.plus(10,5))
print("2: ",cal.minus(10,5))
print("3: ",plus(10,5))

''' 
1: 15
2: 5
3: 15
'''

### Numpy 라이브러리

In [ ]:
import numpy as np
x=np.array([1.2,2.3,3.5])
print("x[2]={0}, type(x)={1}".format(x[2],type(x)))

x[2]=3.5, type(x)=<class 'numpy.ndarray'>

In [ ]:
import numpy as np
x=np.array([[51,55],[14,19],[0,4]])
print("1: x={0} and shape of x={1}".format(x,x.shape))
print("2: x[0]=",x[0])
print("3: x[0][1]=",x[0][1])
print("4: x[0,1]=",x[0,1])

1: x=[[51 55]
 [14 19]
 [ 0  4]] and shape of x=(3, 2)
2: x[0]= [51 55]
3: x[0][1]= 55
4: x[0,1]= 55

In [ ]:
import numpy as np
x=np.array([[51,55],[14,19],[0,4]])
x=x.flatten()
print("1: ",x)
print("2: x[[0,2,4]]=",x[[0,2,4]])
print("3: x[1:3]=",x[1:3])

1:  [51 55 14 19  0  4]
2: x[[0,2,4]]= [51 14  0]
3: x[1:3]= [55 14]

In [ ]:
x=np.arange(1,6.,1.)
print("1: x=",x)
y=np.array([2.,3.,4.,5.,6.])
print("2: x+y=",x+y)
print("3: x-y=",x-y)
print("4: x*y=",x*y)
print("5: x/y=",x/y)

1: x= [1. 2. 3. 4. 5.]
2: x+y= [ 3.  5.  7.  9. 11.]
3: x-y= [-1. -1. -1. -1. -1.]
4: x*y= [ 2.  6. 12. 20. 30.]
5: x/y= [0.5        0.66666667 0.75       0.8        0.83333333]

In [ ]:
x=np.arange(0,10,2)
for i in x:
  print(i, end=' ')

0 2 4 6 8

In [ ]:
x=np.arange(0.,10.,2.)
for i in x:
  print(i,end=' ')

0.0 2.0 4.0 6.0 8.0

In [ ]:
import numpy as np

x=np.array([[51,55],[14,19],[0,4]])
print("1: ")
for row in x:
  print(row)

print("2: ",end=' ')
x=np.arange(0,6,2)
for i in x:
  print(i,end=' ')
print("\n3: ",end=' ')
for i in np.arange(4):
  print(i,end=' ')

1:
[51 55]
[14 19]
[0 4]
2:  0 2 4
3:  0 1 2 3

In [ ]:
import numpy as np

x=np.array([[1,2],[3,4]])
y=np.array([[5,6],[7,8]])
v=np.array([9,10])
w=np.array([11,12])

#inner product
print("1: v.dot(w)=",v.dot(w)) # 9*11+10*12=219
print("2: np.dot(v,w)= ",np.dot(v,w)) #9*1!+10*12=219

#matrix/vector product
print("3: x.dot(v)= ",x.dot(v)) # (1*9+2*10), (3*9+4*40)
print("4: np.dot(x,v)=",np.dot(x,v)) # (1*9+2*10), (3*9+4*10)

print("5: x.dot(y)=",x.dot(y)) 
print("6: np.dot(x,y)=",np.dot(x,y))

1: v.dot(w)= 219
2: np.dot(v,w)=  219
3: x.dot(v)=  [29 67]
4: np.dot(x,v)= [29 67]
5: x.dot(y)= [[19 22]
 [43 50]]
6: np.dot(x,y)= [[19 22]
 [43 50]]

### python list와 np ndarray의 차이점

In [ ]:
import numpy as np

px=[1,2,3]
nx=np.array([1,2,3])
#list
p1=px[0:2]
print(p1)
p1[0]=2
print('python=',px)

n1=nx[0:2]
print(n1)
n1[0]=2
print('numpy=',nx)

# python list는 어떤 변수에 해당 리스트를 넣고 원소 값을 바꾸어도 본래 리스트 원소 값이 변하지 않지만
# npy ndarray는 어떤 변수에 리스트를 넣고 원소 값을 바꾸면 본래 리스트 원소 값이 변한다.

[1, 2]
python= [1, 2, 3]
[1 2]
numpy= [2 2 3]

In [ ]:
import numpy as np

x=np.array([[1,2],[3,4]])

print("1: np.sum(x)=",np.sum(x))
print("2: np.sum(x,axis=0)=",np.sum(x,axis=0))
print("3: np.sum(x, axis=1)=",np.sum(x,axis=1))
print("4: x.T=",x.T)

v=np.array([1,2,3])
print("5: v.T=",v.T)

1: np.sum(x)= 10
2: np.sum(x,axis=0)= [4 6]
3: np.sum(x, axis=1)= [3 7]
4: x.T= [[1 3]
 [2 4]]
5: v.T= [1 2 3]